/* Set the base styling for the entire HTML document */
html {
  box-sizing: border-box; /* Use border-box box model for all elements */
  font-size: $font-lar; /* Reset font size for consistent sizing */
}

/* Apply the 'box-sizing' property to all elements and their pseudo-elements */
*,
*::before,
*::after {
  box-sizing: inherit; /* Inherit the 'box-sizing' property from the parent */
  margin: 0; /* Reset margin for all elements */
  padding: 0; /* Reset padding for all elements */
}

/* Basic styling for the body of the webpage */
body {
  margin: 0; /* Remove default margin to avoid unexpected spacing */
  padding: 0; /* Reset padding for the body element */
  font-family: "Roboto", sans-serif; /* Set the default font family for text */
  min-height: 100vh; /* Ensure the body covers at least the viewport height */
  background-color: #e1e8eb; /* Set the background color for the body */
  @extend %flex; /* Use the %flex placeholder to apply flexbox styles */
  flex-direction: column; /* Arrange children in a column direction */
  align-items: center; /* Center align child elements horizontally */
  background-color: whitesmoke; /* Override background color with whitesmoke */
}

textarea {
  all: unset; /* Reset all styles for the textarea element */
}
